{% from "components.html" import footer, navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
       <link rel="stylesheet" href="static/css/tailwind.min.css">
    <link rel="stylesheet" href="static/css/flutech.css">
    <script src="static/js/add-project.js"></script>
    <script src="static/js/commonpageutils.js"></script>
    <title>Project Tracker</title>
</head>
<body onload="ClearFields();">
    <section>
        {{ navbar() }}
    </section>
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800" id="indigobackground">
        <script>heightadjust();</script>
        <div
            class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs  min-width-phone min-height-phone">
            <!-- <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="/static/img/flutech-logo.jpg" alt="logo"> -->
            <h1 class="text-lg text-gray-700"> Project Name</h1>
            <!-- <h3 class="text-sm text-gray-400 "> Creative Director </h3> -->
            <p class="text-s text-gray-400 mt-4">Register a new project</p>
            <!-- rounded div with shadow -->
            <form>
                <div class="space-y-4 mt-6">
                    <div class="w-full" id="projectnamediv">
                        <label class="block text-gray-700 text-sm font-bold mb-2 text-left" for="projectname">Project
                            Name</label>
                        <input type="text" placeholder="Project Name" class="px-4 py-2 bg-gray-50" id='projectname'
                            oninput="OnType('projectname');" />
                    </div>
                    <div class="w-full" id="sitelocationdiv">
                        <label class="block text-gray-700 text-sm font-bold mb-2 text-left" for="sitelocation">Site
                            Location</label>
                        <input type="text" placeholder="Site Location" class="px-4 py-2 bg-gray-50" id='sitelocation'
                            oninput="OnType('sitelocation');" />
                    </div>
                    <div class="w-full" id="citydiv">
                        <label class="block text-gray-700 text-sm font-bold mb-2 text-left" for="city">City</label>
                        <input type="text" placeholder="City" class="px-4 py-2 bg-gray-50" id='city'
                            oninput="OnType('city');" />
                    </div>
                    <!-- <div class="w-full">
                        <input type="text" placeholder="password" class="px-4 py-2 bg-gray-50" />
                    </div> -->
                </div>
                <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="Register();">Register</button>
                <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="window.history.go(-1)">Go Back</button>
            </form>
        </div>
    </div>
    <section>
        {{ footer() }}
    </section>
</body>
</html>