{% from "components.html" import footer, navbar, modal %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
       <link rel="stylesheet" href="static/css/tailwind.min.css">
    <link rel="stylesheet" href="static/css/flutech.css">
    <script src="static/js/loginutils.js" type="application/javascript"></script>
    <script src="static/js/commonpageutils.js"></script>
    <title>Choose Functionality</title>
</head>
<body>
    <section>
        {{ navbar() }}
    </section>
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800" id="indigobackground">
        <script>heightadjust();</script>
        <div
            class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs min-width-phone min-height-phone">
            <h1 class="text-lg text-gray-700"> Flutech ERP </h1>
            <!-- <h3 class="text-sm text-gray-400 "> Creative Director </h3> -->
            <p class="text-xs text-gray-600 mt-4"> Choose Functionality </p>
            <form>
                <button class="w-full mt-16 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="addproject();">Project Tracker</button>
                <button class="w-full mt-4 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="progresstracker();">Complaint Tracker</button>
                    <button class="w-full mt-4 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="window.location.href='/progresstracker'">Progress Tracker</button>
                <button class="w-full mt-4 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="logout()">Logout</button>
                <section>
                    {{ modal("This Functionality is still under development. Please check back later.") }}
                </section>
                <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
                <script type="text/javascript">
                    function toggleModal(modalID) {
                        document.getElementById(modalID).classList.toggle("hidden");
                        document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
                        document.getElementById(modalID).classList.toggle("flex");
                        document.getElementById(modalID + "-backdrop").classList.toggle("flex");
                    }
                    function addproject() {
                        window.location.href = "/project-tracker";
                    }
                </script>
            </form>
        </div>
    </div>
    <section>
        {{ footer() }}
    </section>
</body>
</html>