{% from "components.html" import footer, navbar %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="static/css/flutech.css">
    <!-- import webcamjs -->
    <script src="static/js/webcam.js"></script>
    <title>Attendance</title>
</head>

<body>
    <section>
        {{ navbar() }}
    </section>
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800">
        <div
            class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs min-width-phone min-height-phone">
            <h1 class="text-lg text-gray-700"> Attendance </h1>
            <!-- <h3 class="text-sm text-gray-400 "> Creative Director </h3> -->
            <p class="text-xs text-gray-400 mt-4"> Capture image to take Attendance </p>
            <!-- end of section -->
            <div id="my_camera" class="py-2" style="width: 238px; height: 238px;"></div>
            <div id="my_result" class="py-2"></div>
            <script language="JavaScript">
                // set webcam camera to face the environment
                Webcam.set('constraints', {
                    facingMode: "environment",
                    width: 1920,
                    height: 1080,
                    dest_width: 1920,
                    dest_height: 1080

                });

                Webcam.attach('#my_camera');
                // function to post the captured image
                function PostBase64Image(data_uri) {
                    const payload = {
                        "image": data_uri
                    }
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/recieve-face", true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
                    xhr.send(JSON.stringify(payload));
                }
                // function to play camera capture sound
                function PlayShutterSound() {
                    var audio = document.getElementById("audio");
                    audio.play();
                }
                function take_snapshot() {
                    Webcam.snap(function (data_uri) {
                        const my_result_innerhtml='<img src="' + data_uri + '" style="object-fit: cover;"/>';
                        console.log(my_result_innerhtml);
                        document.getElementById('my_result').innerHTML = my_result_innerhtml;
                        PlayShutterSound();
                        PostBase64Image(data_uri);
                    });
                }
            </script>

            <form >
                <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight" onclick="take_snapshot()" type="button">Take Snapshot</button>
                <audio id="audio" src="static/audio/Shutter.mp3"></audio>
                <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight">Continue</button>
            </form>
        </div>
    </div>
    <section>
        {{ footer() }}
    </section>
</body>

</html>