{% from "components.html" import footer, navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="static/css/flutech.css">
    <!-- <script src="static/js/login.js"></script> -->
    <script src="static/js/loginutils.js" type="application/javascript"></script>
    <script>AutoLoginOnPageLoad();</script>
    <title>Login</title>
</head>
<body onload="SetGlobalFieldnames(['Username','Password']);ClearFields();">
    <section>
        {{ navbar() }}
    </section>
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800">
        <div class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs  min-width-phone min-height-phone">
            <!-- <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="/static/img/flutech-logo.jpg" alt="logo"> -->
            <h1 class="text-lg text-gray-700"> Login</h1>
            <!-- <h3 class="text-sm text-gray-400 "> Creative Director </h3> -->
            <p class="text-s text-gray-400 mt-4">Enter your credentials to login</p>
            <!-- rounded div with shadow -->
            <form>
                <div class="space-y-4 mt-6">
                    <div class="w-full" id="DivUsername">
                        <label class="block text-gray-700 text-sm font-bold mb-2 text-left"
                            for="Username">Username</label>
                        <input type="text" placeholder="Emp ID" class="px-4 py-2 bg-gray-50 rounded-lg" id="Username"
                            oninput="OnType('Username')" />
                    </div>
                    <div class="w-full" id="DivPassword">
                        <label class="block text-gray-700 text-sm font-bold mb-2 text-left "
                            for="Password">Password</label>
                        <input type="password" placeholder="Password" class="px-4 py-2 bg-gray-50 rounded-lg"
                            id="Password" oninput="OnType('Password')" />
                    </div>
                </div>
                <div id="DivButton">
                    <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                        type="button" onclick="login();">Login</button>
                </div>
            </form>
            <a class="text-red text-xs italic text-left mt-4 flex items-start" href="/comingsoon">Forgot Your Password?</a>
            <a class="text-red text-xs italic text-left mt-4 flex items-start" href="/master">Are You An Admin? Click Here for Master Login</a>
        </div>
    </div>
    <section>
        {{ footer() }}
    </section>
</body>
</html>