{% from "components.html" import footer, navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
       <link rel="stylesheet" href="static/css/tailwind.min.css">
    <link rel="stylesheet" href="static/css/flutech.css">
    <script src="static/js/commonpageutils.js"></script>
    <title>Explore</title>
</head>
<body>
    <section>
        {{ navbar() }}
    </section>
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800" id="indigobackground">
        <script>heightadjust();</script>
        <div
            class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs  min-width-phone min-height-phone">
            <!-- <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="/static/img/flutech-logo.jpg" alt="logo"> -->
            <h1 class="text-lg text-gray-700">Master Panel</h1>
            <!-- <h3 class="text-sm text-gray-400 "> Creative Director </h3> -->
            <p class="text-s text-gray-400 mt-4">Choose Functionality</p>
            <!-- rounded div with shadow -->
            <div>
                <p class="mt-6 bg-red-400 p-6 rounded-md text-white shadow-lg" onclick="window.location='/add-project'">Add Project</p>
            </div>
        </div>
    </div>
    <section>
        {{ footer() }}
    </section>
</body>
</html>