{% from "components.html" import footer, navbar, modal %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="static/css/flutech.css">
    <script src="static/js/projects.js" type="application/javascript"></script>
    <script src="static/js/commonpageutils.js" type="application/javascript"></script>
    <title>Project Tracker</title>
</head>

<body onload="LoadProjects();RefreshPage(30000);">
    <section>
        {{ navbar() }}
    </section>
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800">
        <div
            class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs  min-width-phone min-height-phone">
            <!-- <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="/static/img/flutech-logo.jpg" alt="logo"> -->
            <h1 class="text-lg text-gray-700"> Project Tracker</h1>
            <!-- <h3 class="text-sm text-gray-400 "> Creative Director </h3> -->
            <p class="text-s text-gray-400 mt-4">Track all in progress projects</p>
            <!-- rounded div with shadow -->
            <div class="max-h-80 overflow-auto" id="ProjectLists">
                <!-- <p class="mt-6 bg-red-400 p-6 rounded-md text-white shadow-lg"> Sample Project 1</p> -->
                <template>
                    <div class="bg-gray-100 p-3 rounded-xl shadow-xl justify-between mt-4 template-parent">
                        <div class="flex space-x-6 items-center ">
                            <!-- row -->
                            <div class="felx flex-row">
                                <!-- col 1 -->
                                <div class="flex">
                                    <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Circle-icons-tools.svg/1024px-Circle-icons-tools.svg.png"
                                        class="w-auto h-14 rounded-lg"/> -->
                                        <div class="px-2 text-left">
                                            <p class="font-semibold text-base template-projectname">Project Name</p>
                                            <p class="font-semibold text-sm text-gray-500 template-sitelocation">Site Location</p>
                                            <p class="font-semibold text-sm text-gray-500 template-city">City</p>
                                        </div>
                                </div>
                                <!-- end col 1 -->
                                <!-- buttons -->
                                <div class="flex flex-row content-between mt-4 w-full">
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white rounded mx-1 onboardworkers" onclick="Workeraction(this.id)">OnBoard Workers</button>
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white rounded mx-2 takeattendance" onclick="Workeraction(this.id)">Take Attendance</button>
                                </div>
                                <!-- end buttons -->
                            </div>
                        </div>
                </template>

                <section>
                    {{ modal() }}
                </section>
            </div>
            <form id="add-project">
                <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="window.history.go(-1)">Go Back</button>

            </form>
        </div>
    </div>
    <script type="text/javascript">
        function toggleModal(modalID) {
            document.getElementById(modalID).classList.toggle("hidden");
            document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
            document.getElementById(modalID).classList.toggle("flex");
            document.getElementById(modalID + "-backdrop").classList.toggle("flex");
        }
    </script>
    <section>
        {{ footer() }}
    </section>
</body>

</html>