{% from "components.html" import footer, navbar,modal %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwind css cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="static/css/flutech.css">
    <!-- <script src="static/js/login.js"></script> -->
    <script src="static/js/attendance.js" type="application/javascript"></script>
    <title>Take Attendance</title>
    <style>

    </style>
</head>

<body onload="GetAllEmployees();">
    <section>
        {{ navbar() }}
    </section>
    <div class="flex items-center justify-center h-screen bg-gradient-to-br from-indigo-500 to-indigo-800">
        <div
            class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs  min-width-phone min-height-phone">
            <!-- <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="/static/img/flutech-logo.jpg" alt="logo"> -->
            <h1 class="text-lg text-gray-700">Take Worker Attendance</h1>
            <!-- <h3 class="text-sm text-gray-400 "> Creative Director </h3> -->
            <p class="text-s text-gray-400 mt-4 mb-2">Take Attendance For all onboarded workers</p>
            <!-- rounded div with shadow -->
            <div class="max-h-80 overflow-y-auto" id="ProjectLists">
                <!-- Onboarding Form Starts here -->
            </div>
            <!-- worker cards -->
            <div class="max-h-80 overflow-y-auto text-left" id="all_workers">
                <!-- Worker Cards -->
                <template>
                    <div class="flex justify-between items-center mt-4 workertemplate">
                        <div class="flex ">
                            <div class="mr-4 w-12 h-12 rounded shadow">
                                <img class="w-full h-full overflow-hidden object-cover object-center rounded"
                                    src="/static/img/profilepicture.webp" alt="avatar" />
                            </div>
                            <div>
                                <p class="text-gray-700 text-xs leading-3 mt-2  ">Name</p>
                                <p class="text-pink-600 text-xs leading-3 mt-2 workername font-bold">Worker Name</p>
                                <p class="text-gray-700 text-xs leading-3 mt-2  ">Contractor</p>
                                <p class="text-pink-600 text-xs leading-3 mt-2 contractorname font-bold">Contractor Name</p>
                                <p class="text-gray-700 text-xs leading-3 mt-2 ">Labour Type</p>
                                <p class="text-pink-600 text-xs leading-3 mt-2 LabourType font-bold">Labour Type</p>
                                <button
                                    class="bg-blue-600 hover:bg-blue-800 text-white font-semibold py-2 px-2 rounded mt-2 intime"
                                    onclick="MarkInTime('1')">
                                    Mark In-Time
                                </button>
                                <button
                                    class="bg-blue-600 hover:bg-blue-800 text-white font-semibold py-2 px-2 rounded mt-2 outtime"
                                    onclick="MarkOutTime('2')">
                                    Mark Out-Time
                                </button>
                            </div>
                        </div>
                    </div>
                </template>
                <!-- End of Worker Cards -->
                <section>
                    {{ modal() }}
                </section>
            </div>
            <div class="mt-6">
                <h1 class="text-lg text-gray-700"></h1>
                <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight"
                    type="button" onclick="window.history.go(-1)">Go Back</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function toggleModal(modalID) {
            document.getElementById(modalID).classList.toggle("hidden");
            document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
            document.getElementById(modalID).classList.toggle("flex");
            document.getElementById(modalID + "-backdrop").classList.toggle("flex");
        }
    </script>
    <section>
        {{ footer() }}
    </section>
</body>

</html>